<div class="form-group">
    Total Sent Message: <p id="totalMessage"></p>
</div>

<div class="form-group">
    Total My Messages: <p id="totalMyMessage"></p>
</div>

<div class="form-group">
    Today Sent: <p id="todayMessages"></p>
</div>

<div class="form-group">
    Today My Messages: <p id="todayMyMessages"></p>
</div>

<div class="form-group">
    Total Member: <p id="totalMember"></p>
</div>








@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/App/dashboardJS.js"></script>


}