<br/>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group" style="background-color: darkkhaki">
            Total Sent Message:
            <h3 id="totalMessage"></h3>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group"   style="background-color:darkkhaki">
            Total My Messages: <h3 id="totalMyMessage"></h3>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group"   style="background-color: burlywood">
            Today Sent: <h3 id="todayMessages"></h3>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group"   style="background-color: burlywood">
            Today My Messages: <h3 id="todayMyMessages"></h3>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group"  style="background-color:aquamarine">
            Total Member: <h3 id="totalMember"></h3>
        </div>
    </div>
</div>















@section scripts{

    <script src="~/signalr/hubs"></script>
    <script src="~/App/dashboardJS.js"></script>
}