@{
    ViewBag.Title = "Chat Project";
}

<input type="hidden" id="hdId">
<input type="hidden" id="hdUserName"/>

<div class="row ">
    <div class="panel-heading" style="border: 1px solid">
        <div style="float: right">
            <h4 ><b> @DateTime.Now.ToString("HH:mm:ss") </b></h4>
            <h5 >@DateTime.Now.ToString("dd/MM/yyyy")</h5>
        </div>
        <h3>Welcome <strong id="userOnline"></strong> !</h3>
        Online Member: <strong id="counter"></strong>
     </div>
    
    <div class="panel-body">
        <div class="col-md-8">
            <div id="messageWindow" style="border: 1px solid; height: 250px; overflow-y: scroll; margin-left: -30px">
                <h3>Messages</h3>
                <ul id="message"></ul>
            </div>
        </div>
        <div class="col-md-4">
            <h5><b>Online Users</b></h5>
            <hr/>
            <div id="divusers" style="height: 150px; width: 350px; overflow-y: scroll"></div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="text" id="txt" />
        <button id="send" class="btn btn-success">Send</button>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/App/chat.js"></script>
}